---
import { projectData, categoryData } from "../lib/getProjects";

const currentPath = Astro.url;
const url = (href: string) => new URL(import.meta.env.BASE_URL + href, Astro.url.origin);
const navLinks = [
    { url: url(""), label: "Home" },
    { url: url("/about/"), label: "About Me" },
    { url: url("/contact/"), label: "Contact" },
    {
        // url: url("/work/"),
        label: "Work",
        sublinks: categoryData.map((category) => ({
            url: url(`/work/${category.slug}`),
            label: category.title,
        })),
    },
]

const isRouteActive = (url: URL) => {
    // console.debug("Current path is", currentPath, "and url is", url);
    return url.href === currentPath.href;
};
---

<aside
    class="h-auto md:h-screen w-full md:w-52 flex flex-col justify-between bg-white py-6 px-4 border-r border-gray-100"
>
    <div class="space-y-6">
        <!-- Logo -->
        <div class="text-xl font-bold font-serif"><span class="inline-block"> Marit </span> <span class="inline-block"> van der Loos </span></div>

        <!-- Navigation Links -->
        <nav class="space-y-4 mt-auto text-sm">
            {
                navLinks.map((link) => (
                    <div>
                        {link.url ? (
                            <a
                                href={link.url.pathname}
                                class={`block hover:text-blue-600 transition-colors ${isRouteActive(link.url) ? "text-blue-600" : ""}`}
                        >
                                {link.label}
                            </a>
                        ) : (
                            <div class="select-none text-gray-500">{link.label}</div>
                        )}

                        {link.sublinks && (
                            <ul class="space-y-2 mt-1 pl-2">
                                {link.sublinks.map((sublink) => (
                                    <li>
                                        <a href={sublink.url.pathname} class="text-gray-800 hover:text-blue-600 transition-colors">
                                            {sublink.label}
                                        </a>
                                    </li>
                                ))}
                            </ul>
                        )}
                    </div>
                ))
            }
        </nav>
    </div>

    <!-- Footer -->
    <footer class="hidden md:block text-gray-500 text-xs">
        <p>© {new Date().getFullYear()} Marit van der Loos</p>
    </footer>
</aside>
